[Desktop Entry]
GenericName[tr]=Renk sıcaklığı ayarı
GenericName[zh_CN]=色温调节
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
GenericName[hu]=Szín hőmérséklet beállítás
Hidden=false
GenericName[nl]=Kleurtemperatuur aanpassing
Name[ru]=Redshift
GenericName[es]=Ajuste de la temperatura de color
Name[fr]=Redshift
GenericName[cs]=Přizpůsobení barevné teploty
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[zh_CN]=色温调节工具
Name[hu]=Redshift
Comment=Color temperature adjustment tool
Name[lt]=Redshift
GenericName[it]=Regolazione della temperatura del colore
Name[pl]=Redshift
Name[tr]=Redshift
Comment[ru]=Инструмент регулирования цветовой температуры
X-GNOME-Autostart-enabled=true
Exec=redshift-gtk
Name[zh_CN]=红移
GenericName[da]=Justering af farvetemperatur
GenericName[lt]=Spalvos temperatūros reguliavimas
Name[it]=Redshift
Name[pt_BR]=Redshift
GenericName[ru]=Настройка цветовой температуры
Name[de]=Redshift
Comment[fr]=Outil de réglage de la température de couleur
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[de]=Farbtemperatur Anpassungswerkzeug
GenericName=Color temperature adjustment
Comment[hu]=Színhőmérséklet beállító eszköz
StartupNotify=true
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Name[es]=Redshift
GenericName[de]=Farbtemperatur Anpassung
Type=Application
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Version=1.0
Name=Redshift
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[tr]=Renk sıcaklığı ayarlama aracı
Categories=Utility;
Comment[da]=Justeringsværktøj for farvetemperatur
GenericName[fr]=Réglage de la température de couleur
Terminal=false
Icon=redshift

